/* Stylesheet for the 'McMaster University branding' Plone theme */

body {
  margin: 22px 16px 0;
}

#visual-portal-wrapper {
  margin: 0 auto;
  min-width: 945px;
  width: 945px;
}

#portal-column-one {
  padding: 1em 2em 0 0;
}

#portal-column-content {
  padding: 1em 0 0;
}

#portal-column-content #content {
  padding: 0 0 2em !important;
}

#portal-column-content .documentEditable #content {
  padding: 1em 1em 2em !important;
}

#portal-column-two {
  padding:1em 0 0 1em;
}

#portal-logo img {
  margin: 0 0 16px 0;
}

/* Searchbox style and positioning */

#portal-searchbox {
    border-top: 8px solid #990033;
    margin: 0;
    padding: 15px 25px 0;
    text-align: left;
    text-transform: none;
}

#portal-searchbox .searchButton { 
  border: none;
  background: transparent;
  font-size: 100%;
  font-weight: bold;
  padding: 1pt;
  text-transform: none;
}

#portal-searchbox .LSBox > LABEL {
  font-weight: bold;
  margin-left: 2em;
  margin-right: 3pt;
}

#portal-searchbox .LSBox { 
  clear: none;
  display: inline;
  float: none;
}

#portal-searchbox .LSResult {
  display: none;
  padding-top: 0;
  top: -5px;
}

#searchGadget { 
  font-size: 100%;
}

#search-scope {
  margin-top: 6pt;
}

#search-scope LABEL {
  font-weight: bold;
}

#search-scope INPUT {
    border: none;
    background: transparent;
    vertical-align: text-bottom;
}

#mac-quick-links {
    padding-bottom: 6pt;
}

#mac-quick-links #quick-links {
    font-size: 100%;
}

#portal-personaltools-wrapper {
    clear: both;
}

/* Language selection */
#portal-languageselector .currentLanguage {
    opacity: 1;
}
  
#portal-languageselector li:hover {
    opacity: 0.65;
}
  
#portal-languageselector li {
    opacity: 0.4;
}

/* Breadcrumbs */

#breadcrumbs-you-are-here,
body.section-front-page #portal-breadcrumbs { display: none; }

#portal-breadcrumbs {
  color: #666;
  border-bottom-width: 3px;
  margin-bottom: 10px;
  padding-bottom: 3px;
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
}

#portal-breadcrumbs A {
  color: #666;
  text-decoration: underline;
}

.breadcrumbSeparator {
  font-size: 110%;
  vertical-align: top;
}

#portal-column-one .visualPadding,
#portal-column-two .visualPadding {
  padding: 0 0 1em 0;
}

#portal-footer {
  border-top-width: 3px;
  background-color: transparent;
  border-bottom: none;
}

/* The content headers */

#content h1,
#content h2
 {
  border-color: #903;
  color: #903;
  margin-top: 1.5em !important;
}

h1.documentFirstHeading {
  margin-top: 15px !important;
  padding: 0 5px 5px 0;
}

body.section-front-page #content h1.documentFirstHeading {
  background-color: #903;
  border: 0 none;
  color: white;
  margin-bottom: 15px !important;
  margin-top: 15px !important;
  padding: 5px 5px 5px 8px;
}

/* Site title portlet */

.portlet-static-site-title {
  border-bottom: #903 solid 1px;
  color: #903;
  font-size: 1.4em;
  font-weight: bold;
  text-align: right;
}

.portlet-static-site-title .visualHighlight {
  color: #666;
  background: transparent;
}

/* Navigation portlet */

#portal-column-one  .portletItem {
  padding: 1em 0 1em 1em;
}

body.icons-on .portletNavigationTree *[class*='contenttype-']
{
    background-image: none;
    line-height: 1.2em;
}

.portletNavigationTree {
  border: none;
}

.portletNavigationTree .portletHeader {
  display: none;
}

.portletNavigationTree .portletItem {
  background-color: transparent;
  border: none;
  text-transform: none;
}

.navTreeItem a, dd.portletItem .navTreeItem a {
  border: none;
}

.portletNavigationTree .portletItem .navTree .navTreeItem A IMG {
  display: none;
}

.portletNavigationTree .portletItem A {
  text-align: right;
  color: #666;
  font-size: 10pt;
}

.portletNavigationTree .portletItem .navTreeItem A:hover {
  color: #903;
  background-color: transparent;
  border: none;
}

.portletNavigationTree .navTreeCurrentItem {
  font-weight: bold;
  border: none !important;
  background: none;
}

.navTreeLevel1 * {
  font-size: 80%;
  color: #903;
}
.navTreeLevel1 li {
  padding-right: 6pt;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* Custom Plone4Artists Calendar styles */

#chronos-calendar .ploneCalendar {
    border: none;
    border-collapse: separate;
    border-spacing: 1pt;
    margin-bottom: 2em;
}

#chronos-calendar #calendar-view-tabs {
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc;
    padding-left: 1em;
}

#chronos-calendar #calendar-view-tabs li.selected a {
    background: none;
    border-bottom: white 1px solid;
}

#chronos-calendar #calendar-view-tabs li a {
    padding: 0 2em;
}

.ploneCalendar .navigationIcon {
    cursor: pointer;
}

#chronos-calendar thead th {
    background-color: transparent;
    color: #903;
    font-weight: bold;
    font-size: 135%;
    border-bottom: 6pt solid white;
}

#chronos-calendar a#calendar-nav-previous,
#chronos-calendar a#calendar-nav-next {
    display: block;
    width: 100%;
}

#chronos-calendar thead tr.weekdays th {
    background-color: #ccc;
    border-color: white;
    color: black;
    font-size: 90%;
    border-bottom: 3pt solid white;
}

#chronos-month .weekHeader {
    background-color: #ccc;
}

#chronos-calendar #chronos-month td span {
    color: #903;
}

#chronos-calendar #chronos-month td.monthDay:hover {
  background-color: #e6e6e6;
}

#chronos-month .event {
    background-color: transparent;
    font-size: 9pt;
    padding: 2px;
}

#chronos-month .dayNotInThisMonth {
    background-color: #e6e6e6;
}
