/* The global section tabs. */
/* With great deal of help from: */
/* http://www.tanfa.co.uk/css/examples/menu/tutorial-h.asp */

#portal-globalnav {
    width: 100%;
}

#portal-globalnav,
#portal-globalnav UL {
    list-style: none;
    float: left;
    background-color: #903;
    margin: 0;
    padding: 0;
    line-height: 1.8em;
    white-space: normal;
  z-index: 100;
}

#portal-globalnav > LI > A {
    font-size: 9pt;
    font-weight: bold;
    padding: 5pt 11pt;
}

#portal-globalnav    A,
#portal-globalnav UL A {
    display: block;
    border: none;
    padding: 5pt 15pt;
    text-decoration: none;
    text-transform: none !important;
    color: white;
}

#portal-globalnav    > LI,
#portal-globalnav UL > LI {
    position: relative;
    float: left;
    margin: 0;
}

#portal-globalnav LI > UL {
    position: absolute;
    top: 0;
    left: 100%;
    margin: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    -moz-transition:    opacity 0.1s 0.2s ease-in, visibility 0s 0.3s linear;
    -webkit-transition: opacity 0.1s 0.2s ease-in, visibility 0s 0.3s linear;
}

#portal-globalnav > LI > UL {
    left: 0;
    top: 100%;
    box-shadow: -2px 2px 2px 2px rgba(51, 51, 51, 0.7),
                 2px 2px 2px 2px rgba(51, 51, 51, 0.7);
}

/* Make far right menu to unfold inwards */
#portal-globalnav UL.dropToLeft {
  left: -100%;
    box-shadow: -2px -2px 2px 2px rgba(51, 51, 51, 0.7),
                -2px  2px 2px 2px rgba(51, 51, 51, 0.7);
}

#portal-globalnav UL LI {
    width: 100%;
}

/* No extra separation for nested options*/
#portal-globalnav UL A {
    padding: 5pt 7pt;
}

#portal-globalnav UL {
    width: 15em;
    box-shadow: 2px -2px 2px 2px rgba(51, 51, 51, 0.7),
                2px  2px 2px 2px rgba(51, 51, 51, 0.7);
}

#portal-globalnav LI.selected A,
#portal-globalnav LI.selected,
#portal-globalnav LI A {
    color: white;
    background-color: #903;
    border: none;
}

#portal-globalnav LI A:hover,
#portal-globalnav LI:hover > A,
#portal-globalnav LI:hover {
    color: white;
    background-color: #666;
}

#portal-globalnav LI:hover > UL {
    visibility: visible;
    opacity: 1;
    -moz-transition-delay:    0.1s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-duration:    0s;
    -webkit-transition-duration: 0s;
}
