/* Fixes for the rendering of the drop-down menus in our beloved IE */

#portal-globalnav {
  /* Pretty ugly hack to work around margin-top not being applied */
  border-top: 15px solid white;
}

#portal-globalnav.ddMenu  A,
#portal-globalnav .ddMenu A {
  padding: 5pt 16pt !important;
}

#portal-globalnav.ddMenu  .menuItem,
#portal-globalnav .ddMenu .menuItem {
    position: relative;
    float: left;
    margin: 0;
    behavior: url(++resource++mcmaster.branding.theme.stylesheets/ie-pseudo-classes.htc);
    z-index: 50;
}

#portal-globalnav.ddMenu .ddMenu,
#portal-globalnav.ddMenu .menuItem.hover .ddMenu .ddMenu {
    position: absolute;
    top: 0;
    left: 100%;
    margin: 0;
    padding: 0;
    display: none;
}

#portal-globalnav.ddMenu         .menuItem.hover .ddMenu,
#portal-globalnav.ddMenu .ddMenu .menuItem.hover .ddMenu {
    display: block;
}

#portal-globalnav.ddMenu.menuLevel0 .ddMenu.menuLevel1 {
    left: 0;
    top: 100%;
}

#portal-globalnav.ddMenu  .menuItem.hover,
#portal-globalnav .ddMenu .menuItem.hover {
    background-color: #666;
}
